/* colors & fonts */
body {
  background: #ebebeb;
  color: #7d7d7d;
  font-family: "Open Sans", serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.6rem;
}
h1,
h2,
h3 {
  font-family: "Monserrat", sans-serif;
}
h1 {
  color: #dd5555;
  font-size: 22px;
}
h2 {
  color: #dd5555;
  font-size: 18px;
  font-weight: 300;
}
h3 {
  font-size: 16px;
  font-weight: 300;
}
a {
  text-decoration: none;
  color: #ccc;
}
a:hover {
  text-decoration: none;
  color: #dd5555;
}
table {
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6rem;
}
/* design class */
.container {
  width: 700px;
  margin: 40px auto;
}

@media (max-width: 960px) {
  /* screen < 960px, this css will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* screen < 720px, this css will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* screen < 540px, this css will be read */
  .container {
    width: 300px;
  }
}

.card-white {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

.img-circle {
  border-radius: 50%;
}
.btn-blue {
  background-color: #6b72e1;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}
.btn-blue:hover {
  background-color: black;
  color: white;
}
.list-inline {
  list-style: none;
  padding-left: 0px;
}
.list-inline li {
  display: inline;
  padding: 10px;
}
.list-inline i {
  font-size: 50px;
  color: rgb(230, 230, 230);
}
.list-inline i:hover {
  color: black;
}
#introduction p {
  margin-bottom: 40px;
}
